.footer {
    width: 100%;
    height: 100px;
    background: #040404;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .socialMedia svg {
    color: white;
    margin: 10px;
    font-size: 50px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }
  
  @media only screen and (max-width: 640px) {
    .footer svg {
      font-size: 30px;
    }
  }